#main-page {
  position: relative;
}

/* Add task Form */
.form,
.edit-form {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  padding: 5rem;
  border-radius: 0.2rem;
  align-items: center;
  justify-self: center;
  align-self: center;
  z-index: 2;
  box-shadow: 2px 2px 30px rgb(32, 32, 32);
}

/* Edit Form */

/* Global */
.hidden {
  display: none;
}

.btns-project-test {
  width: 100%;
  height: 20px;
  background-color: red;
  cursor: pointer;
  margin: 0.5rem 0;
}
