#display--screen {
  display: flex;
  flex-direction: column;
  background-color: rgb(202, 202, 202);
  padding: 2rem;
  overflow-y: auto;
  height: 100vh;
}

/* Global */

label {
  display: flex;
  align-items: center;
}

.input--ui {
  transform: scale(1.5);
  margin-right: 0.8rem;
}

/* ******* */

.date--ui {
  font-size: 1.2rem;
  font-weight: 400;
}

.title--ui {
  color: rgb(0, 162, 255);
}

.project-sub-title {
  display: flex;
}

#editBtn {
  margin-left: 1rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
}

.description--ui {
  margin-bottom: 1rem;
}

.project-section--ui {
  margin: 2rem 0;
  margin-bottom: 0;
}

.tasks-display--ui {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

label p {
  font-size: 1.1rem;
}
